
// 1. Colors
$primary-color: #303f9f;
$link-color: #ff9800;
$secondary-color: #283593;
$heading-color: #ef6c00;
$success-color: #a5d6a7;
$error-color: #e57373;
$info-color: #9fa8da;
$warning-color: #ffe082;
$slider-indicator-color: #283593;
$chip-bg-color: #e0e0e0;
$card-bg-color: #fff;
$collapsible-header-color: #fff;
$collapsible-border-color: #ddd;
$dropdown-bg-color: #fff;
$dropdown-hover-bg-color: #eee;
$pattern-color: #283593;
$icon-font-path: '~videojs-font/fonts/';
